.cards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.card {
  flex: 1 1 0;
  margin: 0px 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
  transform: scale(1);
}
.card img {
  width: 70%;
  height: 45%;
  margin: 10px 0;
}
.card:hover {
  transition: all .3s ease;
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .cards {
    display: block;
  }
  .card {
    max-width: 500px;
    margin: 20px auto;
    padding-bottom: 30px;
  }
}
